header {
    background-image: url(/assets/bgHeader.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    margin-top: 220px;
    font-size: 90px;
    color: #ff8f47;
}

.titulo2_header {
    font-weight: 100;
    margin-top: -50px;
    font-size: 40px;
}

.boton_header {
    font-size: 17px;
    border: none;
    background: linear-gradient(to right, #ff9d52, #fd863d);
    color: white;
    margin-top: 150px;
    border-radius: 25px;
    height: 50px;
    width: 130px;
}

.flecha_header {
    margin-left: 10px;
}

.pagina2 {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 1000px;
}

.texto_section2 {
    display: flex;
    flex-direction: column;
}

.titulo_setion2 {
    font-size: 40px;
    background: linear-gradient(to right, #ff9d52, #fd863d);
    background-clip: text;
    color: transparent;
    font-weight: 100;
}

.parrafo_section2 {
    font-weight: 100;
    font-size: 23px;
}

.boton_section2 {
    font-size: 17px;
    border: none;
    background: linear-gradient(to right, #ff9d52, #fd863d);
    color: white;
    margin-top: 40px;
    border-radius: 25px;
    height: 50px;
    width: 130px;
}

.pagina2_section2 {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.texto2_Section2 {
    display: flex;
    flex-direction: column;
}

.titulo2_section2 {
    font-size: 40px;
    background: linear-gradient(to right, #ff9d52, #fd863d);
    background-clip: text;
    color: transparent;
    font-weight: 100;
}

.parrafo2_section2 {

    font-weight: 100;
    font-size: 23px;
}

.boton2_section2 {
    font-size: 17px;
    border: none;
    background: linear-gradient(to right, #ff9d52, #fd863d);
    color: white;
    margin-top: 40px;
    border-radius: 25px;
    height: 50px;
    width: 130px;
}

.Pagina3 {
    margin-top: 200px;
    background-image: url(/assets/bgDown.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    align-content: center;
}

.texto_section3 {
    display: flex;
    flex-direction: column;
    margin-left: 300px;

}

.titulo_section3 {
    background: linear-gradient(to right, #ff9d52, #fd863d);
    background-clip: text;
    color: transparent;
    font-size: 40px;
    font-weight: bold;
}

.parrafo_section3 {
    margin-top: 10px;
    font-weight: 100;
    font-size: 20px;
}

.boton_section3 {
    font-size: 17px;
    border: none;
    background: linear-gradient(to right, #ff9d52, #fd863d);
    color: white;
    margin-top: 10px;
    border-radius: 25px;
    height: 50px;
    width: 190px;
}

.pagina4 {
    display: flex;
    background: linear-gradient(to right, #ff9d52, #fd863d);
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 400px;
}

.pagina4 ul {
    list-style: none;
    flex-direction: column;
}

.lista_section4 {
    display: flex;
    justify-content: space-evenly;
    color: white;
    gap: 200px;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: white;
    background: linear-gradient(to right, #ff9d52, #fd863d);
    box-shadow: 0 -5px 10px #ff833b;
}

@media (max-width: 1279px) {
    body {
        width: 1300px;
    }

    .Pagina3 {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 800px;

    }

    .texto_section3 {
        display: flex;
        flex-direction: column;
        margin-left: 100px;

    }

    .lista_section4 {
        margin-right: 60px;
    }
}

@media(max-width: 920px) {
    body {
        width: 770px;
    }

    .pagina2 {
        height: 750px;
    }

    h1 {
        margin-top: 213px;
        font-size: 70px;
    }

    .titulo2_header {
        font-size: 33px;
    }

    .titulo_setion2 {
        font-size: 27px;

    }

    img {
        height: 400px;
    }

    .parrafo_section2 {
        font-size: 14px;
    }

    .boton2_section2 {
        font-size: 14px;
        height: 41px;
        width: 108px;

    }

    .titulo2_section2 {
        font-size: 29px;
    }

    .parrafo2_section2 {
        font-weight: 100;
        font-size: 15px;
    }

    .boton2_section2 {
        font-size: 14px;
        height: 41px;
        width: 105px;
    }

    .Pagina3 {
        height: 416px;
    }

    .titulo_section3 {
        font-size: 23px;
    }

    .parrafo_section3 {
        font-size: 14px;
    }

    .boton_section3 {
        font-size: 14px;
        height: 40px;
        width: 157px;
    }

    .lista_section4 {
        gap: 60px;
        font-size: 17px;
    }
}

@media(max-width: 768px) {
    body {
        width: 500px;
    }

    .pagina2 {
        height: 520px;
    }

    header {
        height: 500px;

    }

    h1 {
        margin-top: 120px;
        font-size: 44px;
    }

    .titulo2_header {
        font-size: 20px;
        margin-top: -32px;
    }

    .boton_header {
        font-size: 13px;
        margin-top: 80px;
        height: 36px;
        width: 94px;
    }

    .pagina2 {
        margin-top: -50px;
        width: 100%;
    }

    .titulo_setion2 {
        font-size: 17px;
    }

    .parrafo_section2 {
        font-size: 14px;
    }

    .boton2_section2 {
        margin-top: 10px;
        font-size: 12px;
        height: 32px;
        width: 71px;
    }

    img {
        margin-right: 40px;
        height: 260px;
    }

    .titulo2_section2 {
        font-size: 17px;
    }

    .parrafo2_section2 {
        font-size: 14px;
        margin-right: 50PX;
    }

    .boton2_section2 {
        font-size: 12px;
        height: 32px;
        width: 71px;
    }

    .Pagina3 {
        margin-top: 100px;
        height: 334px;
    }

    .titulo_section3 {
        font-size: 23px;
        margin-left: -70px;

    }

    .parrafo_section3 {
        font-size: 14px;
        margin-left: -70px;
        margin-right: 165px;
    }

    .boton_section3 {
        font-size: 14px;
        height: 40px;
        width: 157px;
        margin-left: -70px;

    }

    .lista_section4 {
        gap: 60px;
        font-size: 17px;
    }


    .pagina4 {
        height: 250px;
    }

    .lista_section4 {
        gap: 16px;
        font-size: 16px;
    }

    @media (max-width: 480px) {
        body {
            width: 395px;
        }


        .pagina2 {
            height: 520px;
        }

        header {
            height: 360px;

        }

        h1 {
            margin-top: 99px;
            font-size: 35px;
        }

        .titulo2_header {
            font-size: 20px;
            margin-top: -29px;
        }

        .boton_header {
            font-size: 13px;
            margin-top: 25px;
            height: 26px;
            width: 84px;
        }

        .pagina2 {
            margin-top: -50px;
            width: 100%;
        }

        .titulo_setion2 {
            font-size: 17px;
        }

        .parrafo_section2 {
            font-size: 14px;
            margin-right: 20px;
        }

        .boton2_section2 {
            margin-top: 10px;
            font-size: 12px;
            height: 32px;
            width: 71px;
        }

        img {
            margin-right: 10px;
            height: 200px;
        }

        .titulo2_section2 {
            font-size: 16px;
        }

        .texto2_Section2 {
            margin-left: 30px;

        }

        .parrafo2_section2 {
            font-size: 14px;
            margin-right: 20px;
            margin-right: -10PX;
        }

        .boton2_section2 {
            font-size: 12px;
            height: 32px;
            width: 71px;
        }

        .Pagina3 {
            margin-top: 100px;
            height: 320px;
        }

        .titulo_section3 {
            font-size: 17px;
            margin-left: -84px;

        }

        .parrafo_section3 {
            font-size: 14px;
            margin-left: -84px;
            margin-right: 96px;
        }

        .boton_section3 {
            font-size: 14px;
            height: 30px;
            width: 147px;
            margin-left: -84px;
            margin-top: -3px;

        }

        .lista_section4 {
            gap: 60px;
            font-size: 17px;
        }


        .pagina4 {
            height: 180px;
        }

        .lista_section4 {
            gap: 1px;
            font-size: 13px;
        }
    }





}