<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pagina3</title>
</head>

<body>
    <link rel="stylesheet" href="../style/styles.css">
    <header>
        <div class="header2">
            <h1>
                Creative & Clean
            </h1>
            <h2 class="titulo2_header">
                LUXURY WORKSTATION WITH STYLE.
            </h2>

            <button class="boton_header">
                view <span class="flecha_header">→</span>
            </button>
        </div>
    </header>

    <section class="pagina2">

        <div class="texto_section2">
            <h2 class="titulo_setion2">
                MAKE YOUR <br> WORKSTATION FUN <br> WITH ENTERTAINMENT.
            </h2>

            <p class="parrafo_section2">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                Necessitatibus, nam molestiae, <br>
                nostrum impedit sint dolore pariatur eum, <br>
                Necessitatibus, nam molestiae, <br>
                nostrum impedit sint dolore pariatur eum, <br>
            </p>

        </div>

        <img src="/assets/img01.png">
    </section>


    <section class="pagina2_section2">

        <img src="../assets/img02.png">

        <div class="texto2_Section2">
            <h2 class="titulo2_section2">
                MAKE ANYWHERE <br>
                YOU LIKE, ANYWHERE <br>
                YOU PREFER.
            </h2>

        </div>

    </section>



    <section class="Pagina3">

        <div class="texto_section3">
            <h2 class="titulo_section3">
                SUPPLY OF UNMILITED <br>
                RESOURCE...
            </h2>

            <p class="parrafo_section3">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                Necessitatibus, nam molestiae, <br>
                nostrum impedit sint dolore pariatur eum,Necessitatibus, nam <br>
                molestiae, ostrum impedit sint dolore pariatur eum, <br>
                Lorem ipsum dolor sit <br>
                amet consectetur adipisicing elit.<br>
                Necessitatibus, Necessitatibus, nam molestiae,nam
            </p>


            <button class="boton_section3">
                Check this out <span class="flecha_header">→</span>
            </button>
        </div>
    </section>




    <section class="pagina4">
        <div class="lista_section4">
        <ul>
            <p>Address</p>
            <li>Creative & clean.</li>
            <li>Sylhet 3100.</li>
            <li>Dhaka.</li>
            <li>Bangladesh.</li>
        </ul>
        
        <ul>
            <p>Address</p>
            <li>Creative & clean.</li>
            <li>Sylhet 3100.</li>
            <li>Dhaka.</li>
            <li>Bangladesh.</li>
        </ul>


    </div>
    </section>


</body>

</html>